In [17]:
library(tidyverse)
library(dplyr)

In [2]:
load("./ICPSR_38779/DS0001/38779-0001-Data.rda")

In [99]:
load("./ICPSR_38740/DS0001/38740-0001-Data.rda")

load("./ICPSR_38743/DS0001/38743-0001-Data.rda")

In [4]:
names(da38779.0001)

 [1] "ASR_ID"   "CONTENTS" "STATE"    "ORI"      "GROUP"    "DIV"
 [7] "AGHEADER" "YEAR"     "MSA"      "COUNTY"   "SEQNO"    "SUB"
[13] "CORE"     "COVBY"    "POP"      "AGENCY"   "STNAME"   "MONTH"
[19] "MOHEADER" "BREAK"    "AREO"     "ZERO"     "DTLASTUP" "DTPRUP1"
[25] "DTPRUP2"  "JUVDISP"  "JDHANDDP" "JDREFJC"  "JDREFWA"  "JDREFOPA"
[31] "JDREFCC"  "OFFENSE"  "OCCUR"    "M0_9"     "M10_12"   "M13_14"
[37] "M15"      "M16"      "M17"      "M18"      "M19"      "M20"
[43] "M21"      "M22"      "M23"      "M24"      "M25_29"   "M30_34"
[49] "M35_39"   "M40_44"   "M45_49"   "M50_54"   "M55_59"   "M60_64"
[55] "M65"      "F0_9"     "F10_12"   "F13_14"   "F15"      "F16"
[61] "F17"      "F18"      "F19"      "F20"      "F21"      "F22"
[67] "F23"      "F24"      "F25_29"   "F30_34"   "F35_39"   "F40_44"
[73] "F45_49"   "F50_54"   "F55_59"   "F60_64"   "F65"      "AW"
[79] "AB"       "AI"       "AA"       "JW"       "JB"       "JI"
[85] "JA"       "AH"       "AN"       "JH"       "JN"

In [102]:
da1 = da38779.0001[,c(3, 8, 32, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89)]
da2 = da38740.0001[,c(3, 8, 32, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89)]
da3 = da38743.0001[,c(3, 8, 32, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89)]

In [103]:
summary(da1)

               STATE             YEAR         OFFENSE             AW
 (04) California  :117232   Min.   :2019   26     :110445   Min.   :   0.00
 (42) Texas       : 98576   1st Qu.:2019   18     : 97363   1st Qu.:   1.00
 (37) Pennsylvania: 85692   Median :2019   21     : 92035   Median :   2.00
 (29) New Jersey  : 60935   Mean   :2019   185    : 91698   Mean   :   5.38
 (31) New York    : 48869   3rd Qu.:2019   08     : 88036   3rd Qu.:   4.00
 (21) Michigan    : 47643   Max.   :2019   (Other):871739   Max.   :2043.00
 (Other)          :897078                  NA's   :  4709   NA's   :118057
       AB               AI               AA               JW
 Min.   :   0.0   Min.   :  0.0    Min.   :  0.0    Min.   :  0.0
 1st Qu.:   0.0   1st Qu.:  0.0    1st Qu.:  0.0    1st Qu.:  0.0
 Median :   1.0   Median :  0.0    Median :  0.0    Median :  0.0
 Mean   :   2.8   Mean   :  0.3    Mean   :  0.2    Mean   :  0.6
 3rd Qu.:   2.0   3rd Qu.:  0.0    3rd Qu.:  0.0    3rd Qu.:  1.0
 Max.   :1321.0   Max.   :966.0    Max.   :118.0    Max.   :115.0
 NA's   :433551   NA's   :648972   NA's   :653875   NA's   :577245
       JB               JI               JA               AH
 Min.   :  0.0    Min.   : 0       Min.   : 0       Min.   :  1.0
 1st Qu.:  0.0    1st Qu.: 0       1st Qu.: 0       1st Qu.:  1.0
 Median :  0.0    Median : 0       Median : 0       Median :  1.0
 Mean   :  0.3    Mean   : 0       Mean   : 0       Mean   :  3.4
 3rd Qu.:  0.0    3rd Qu.: 0       3rd Qu.: 0       3rd Qu.:  3.0
 Max.   :575.0    Max.   :24       Max.   :17       Max.   :440.0
 NA's   :631331   NA's   :674648   NA's   :675812   NA's   :1221278
       AN               JH                JN
 Min.   :   1.0   Min.   : 1        Min.   :  1.0
 1st Qu.:   1.0   1st Qu.: 1        1st Qu.:  1.0
 Median :   2.0   Median : 1        Median :  1.0
 Mean   :   6.5   Mean   : 2        Mean   :  2.5
 3rd Qu.:   5.0   3rd Qu.: 2        3rd Qu.:  2.0
 Max.   :1551.0   Max.   :59        Max.   :192.0
 NA's   :835993   NA's   :1325921   NA's   :1258741

In [104]:
subset_da1 <- subset(da1, OFFENSE == '04 ')
subset_da2 <- subset(da2, OFFENSE == '04 ')
subset_da3 <- subset(da3, OFFENSE == '04 ')

In [116]:
dim(subset_da1)

[1] 54496    15

In [115]:
dim(subset_da2)

[1] 62064    15

In [114]:
dim(subset_da3)

[1] 57775    15

In [117]:
combined_df <- bind_rows(subset_da1, subset_da2, subset_da3)

In [123]:
head(combined_df, 20)

   STATE       YEAR OFFENSE AW AB AI AA JW JB JI JA AH AN JH JN
1  (50) Alaska 2019 04      28 13 36  4 1  0  5  0  NA NA NA NA
2  (50) Alaska 2019 04      33 18 28  3 3  1  1  0  NA NA NA NA
3  (50) Alaska 2019 04      36 14 35  8 4  1  1  0  NA NA NA NA
4  (50) Alaska 2019 04      33 12 39  5 7  1  1  2  NA NA NA NA
5  (50) Alaska 2019 04      28 11 45  9 4  0  2  0  NA NA NA NA
6  (50) Alaska 2019 04      29  8 42 13 2  0  2  0  NA NA NA NA
7  (50) Alaska 2019 04      55 18 33  8 0  0  2  3  NA NA NA NA
8  (50) Alaska 2019 04      34 15 31  6 0  3  3  0  NA NA NA NA
9  (50) Alaska 2019 04      36 15 36 12 1  0  1  0  NA NA NA NA
10 (50) Alaska 2019 04      27 13 35  5 2  1  2  1  NA NA NA NA
11 (50) Alaska 2019 04      23  9 40 11 1  2  1  0  NA NA NA NA
12 (50) Alaska 2019 04      39  8 31 11 2  0  1  1  NA NA NA NA
13 (50) Alaska 2019 04       2  1  2  0 0  0  0  0  NA NA NA NA
14 (50) Alaska 2019 04       1  1  1  0 0  0  0  0  NA NA NA NA
15 (50) Alaska 2019 04       2  1  1  0 0  0  0  0  NA NA NA NA
16 (50) Alaska 2019 04       1  5  0  0 0  0  0  0  NA NA NA NA
17 (50) Alaska 2019 04       4  1  0  0 0  0  0  0  NA NA NA NA
18 (50) Alaska 2019 04       5  2  2  0 0  0  0  0  NA NA NA NA
19 (50) Alaska 2019 04       0  1  3  0 0  0  0  0  NA NA NA NA
20 (50) Alaska 2019 04       1  1  1  0 0  0  0  0  NA NA NA NA

In [119]:
summary(combined_df)

               STATE             YEAR         OFFENSE             AW
 (04) California  : 18000   Min.   :2017   04     :174335   Min.   :  0.000
 (42) Texas       : 16672   1st Qu.:2017   00     :     0   1st Qu.:  1.000
 (37) Pennsylvania: 10705   Median :2018   01A    :     0   Median :  1.000
 (21) Michigan    :  7206   Mean   :2018   01B    :     0   Mean   :  3.456
 (41) Tennessee   :  6517   3rd Qu.:2019   02     :     0   3rd Qu.:  3.000
 (29) New Jersey  :  6233   Max.   :2019   03     :     0   Max.   :581.000
 (Other)          :109002                  (Other):     0   NA's   :13911
       AB                AI               AA              JW
 Min.   :   0.00   Min.   :  0.00   Min.   : 0.00   Min.   : 0.00
 1st Qu.:   0.00   1st Qu.:  0.00   1st Qu.: 0.00   1st Qu.: 0.00
 Median :   1.00   Median :  0.00   Median : 0.00   Median : 0.00
 Mean   :   2.39   Mean   :  0.23   Mean   : 0.15   Mean   : 0.35
 3rd Qu.:   2.00   3rd Qu.:  0.00   3rd Qu.: 0.00   3rd Qu.: 0.00
 Max.   :1366.00   Max.   :143.00   Max.   :31.00   Max.   :57.00
 NA's   :49655     NA's   :72658    NA's   :73243   NA's   :66294
       JB               JI              JA              AH
 Min.   :  0.00   Min.   : 0.00   Min.   :0.00    Min.   :  1.00
 1st Qu.:  0.00   1st Qu.: 0.00   1st Qu.:0.00    1st Qu.:  1.00
 Median :  0.00   Median : 0.00   Median :0.00    Median :  1.00
 Mean   :  0.27   Mean   : 0.02   Mean   :0.01    Mean   :  2.66
 3rd Qu.:  0.00   3rd Qu.: 0.00   3rd Qu.:0.00    3rd Qu.:  2.00
 Max.   :116.00   Max.   :10.00   Max.   :5.00    Max.   :252.00
 NA's   :69869    NA's   :75279   NA's   :75389   NA's   :161486
       AN               JH               JN
 Min.   :  1.0    Min.   : 1.00    Min.   : 1.00
 1st Qu.:  1.0    1st Qu.: 1.00    1st Qu.: 1.00
 Median :  2.0    Median : 1.00    Median : 1.00
 Mean   :  3.7    Mean   : 1.49    Mean   : 1.67
 3rd Qu.:  3.0    3rd Qu.: 1.00    3rd Qu.: 2.00
 Max.   :469.0    Max.   :22.00    Max.   :32.00
 NA's   :117244   NA's   :171894   NA's   :164440

[1] 174335     15