In [17]:
library(tidyverse)
library(dplyr)

In [2]:
load("./ICPSR_38779/DS0001/38779-0001-Data.rda")

In [3]:
# load("./ICPSR_38740/DS0001/38740-0001-Data.rda")

# load("./ICPSR_38743/DS0001/38743-0001-Data.rda")

In [4]:
names(da38779.0001)

 [1] "ASR_ID"   "CONTENTS" "STATE"    "ORI"      "GROUP"    "DIV"
 [7] "AGHEADER" "YEAR"     "MSA"      "COUNTY"   "SEQNO"    "SUB"
[13] "CORE"     "COVBY"    "POP"      "AGENCY"   "STNAME"   "MONTH"
[19] "MOHEADER" "BREAK"    "AREO"     "ZERO"     "DTLASTUP" "DTPRUP1"
[25] "DTPRUP2"  "JUVDISP"  "JDHANDDP" "JDREFJC"  "JDREFWA"  "JDREFOPA"
[31] "JDREFCC"  "OFFENSE"  "OCCUR"    "M0_9"     "M10_12"   "M13_14"
[37] "M15"      "M16"      "M17"      "M18"      "M19"      "M20"
[43] "M21"      "M22"      "M23"      "M24"      "M25_29"   "M30_34"
[49] "M35_39"   "M40_44"   "M45_49"   "M50_54"   "M55_59"   "M60_64"
[55] "M65"      "F0_9"     "F10_12"   "F13_14"   "F15"      "F16"
[61] "F17"      "F18"      "F19"      "F20"      "F21"      "F22"
[67] "F23"      "F24"      "F25_29"   "F30_34"   "F35_39"   "F40_44"
[73] "F45_49"   "F50_54"   "F55_59"   "F60_64"   "F65"      "AW"
[79] "AB"       "AI"       "AA"       "JW"       "JB"       "JI"
[85] "JA"       "AH"       "AN"       "JH"       "JN"

In [54]:
?da38779.0001

In [5]:
da1 = da38779.0001[,c(3, 8, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89)]

In [28]:
head(da1)

  STATE       YEAR AW AB AI AA JW JB JI JA AH AN JH JN
1 (50) Alaska 2019  0  0  0 0  0  0  0  0  NA NA NA NA
2 (50) Alaska 2019  0  0  0 1  0  0  0  0  NA NA NA NA
3 (50) Alaska 2019  2  0  1 0  0  0  0  0  NA NA NA NA
4 (50) Alaska 2019  6  4  6 2  0  0  0  0  NA NA NA NA
5 (50) Alaska 2019 28 13 36 4  1  0  5  0  NA NA NA NA
6 (50) Alaska 2019 17  1  5 1  0  0  2  0  NA NA NA NA

In [6]:
# names(da38740.0001)

# names(da38743.0001)

# final <- list(da38779.0001, da38740.0001, da38743.0001)

# final = final[c(3, 8, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89)]

In [13]:
# Reduce(function(x, y) merge(x, y, all=TRUE), final)  

# write.csv(final, './final.csv')

In [8]:
summary(da1)

               STATE             YEAR            AW                AB
 (04) California  :117232   Min.   :2019   Min.   :   0.00   Min.   :   0.0
 (42) Texas       : 98576   1st Qu.:2019   1st Qu.:   1.00   1st Qu.:   0.0
 (37) Pennsylvania: 85692   Median :2019   Median :   2.00   Median :   1.0
 (29) New Jersey  : 60935   Mean   :2019   Mean   :   5.38   Mean   :   2.8
 (31) New York    : 48869   3rd Qu.:2019   3rd Qu.:   4.00   3rd Qu.:   2.0
 (21) Michigan    : 47643   Max.   :2019   Max.   :2043.00   Max.   :1321.0
 (Other)          :897078                  NA's   :118057    NA's   :433551
       AI               AA               JW               JB
 Min.   :  0.0    Min.   :  0.0    Min.   :  0.0    Min.   :  0.0
 1st Qu.:  0.0    1st Qu.:  0.0    1st Qu.:  0.0    1st Qu.:  0.0
 Median :  0.0    Median :  0.0    Median :  0.0    Median :  0.0
 Mean   :  0.3    Mean   :  0.2    Mean   :  0.6    Mean   :  0.3
 3rd Qu.:  0.0    3rd Qu.:  0.0    3rd Qu.:  1.0    3rd Qu.:  0.0
 Max.   :966.0    Max.   :118.0    Max.   :115.0    Max.   :575.0
 NA's   :648972   NA's   :653875   NA's   :577245   NA's   :631331
       JI               JA               AH                AN
 Min.   : 0       Min.   : 0       Min.   :  1.0     Min.   :   1.0
 1st Qu.: 0       1st Qu.: 0       1st Qu.:  1.0     1st Qu.:   1.0
 Median : 0       Median : 0       Median :  1.0     Median :   2.0
 Mean   : 0       Mean   : 0       Mean   :  3.4     Mean   :   6.5
 3rd Qu.: 0       3rd Qu.: 0       3rd Qu.:  3.0     3rd Qu.:   5.0
 Max.   :24       Max.   :17       Max.   :440.0     Max.   :1551.0
 NA's   :674648   NA's   :675812   NA's   :1221278   NA's   :835993
       JH                JN
 Min.   : 1        Min.   :  1.0
 1st Qu.: 1        1st Qu.:  1.0
 Median : 1        Median :  1.0
 Mean   : 2        Mean   :  2.5
 3rd Qu.: 2        3rd Qu.:  2.0
 Max.   :59        Max.   :192.0
 NA's   :1325921   NA's   :1258741

In [53]:
head(da1, 20)

   STATE       YEAR AW AB AI AA JW JB JI JA AH AN JH JN
1  (50) Alaska 2019  0  0  0  0 0  0  0  0  NA NA NA NA
2  (50) Alaska 2019  0  0  0  1 0  0  0  0  NA NA NA NA
3  (50) Alaska 2019  2  0  1  0 0  0  0  0  NA NA NA NA
4  (50) Alaska 2019  6  4  6  2 0  0  0  0  NA NA NA NA
5  (50) Alaska 2019 28 13 36  4 1  0  5  0  NA NA NA NA
6  (50) Alaska 2019 17  1  5  1 0  0  2  0  NA NA NA NA
7  (50) Alaska 2019 40 11 33  1 1  2  2  0  NA NA NA NA
8  (50) Alaska 2019 11  5  6  2 0  0  0  1  NA NA NA NA
9  (50) Alaska 2019 47 24 55 13 8  4  6  0  NA NA NA NA
10 (50) Alaska 2019  1  0  1  0 0  0  0  0  NA NA NA NA
11 (50) Alaska 2019  2  1  0  0 0  0  0  0  NA NA NA NA
12 (50) Alaska 2019  2  2  1  0 0  0  0  0  NA NA NA NA
13 (50) Alaska 2019  1  3  0  1 0  0  0  0  NA NA NA NA
14 (50) Alaska 2019  1  1  2  1 0  0  0  0  NA NA NA NA
15 (50) Alaska 2019 19  3 21  6 2  0  0  0  NA NA NA NA
16 (50) Alaska 2019  6  0  1  2 0  1  0  0  NA NA NA NA
17 (50) Alaska 2019  0  0  0  0 0  0  0  0  NA NA NA NA
18 (50) Alaska 2019  0  0  0  0 0  0  0  0  NA NA NA NA
19 (50) Alaska 2019  0  0  0  0 0  0  0  0  NA NA NA NA
20 (50) Alaska 2019  0  0  0  0 0  0  0  0  NA NA NA NA

In [51]:
da.state = da1 %>%
    group_by(STATE) %>%
    mutate(AW = first(na.omit(AW)))

da.state %>%
    group_by(STATE, AW) %>%
    summarise(total=sum(AW))

`summarise()` has grouped output by 'STATE'. You can override using the
`.groups` argument.

   STATE                         AW total
1  (01) Alabama                   1  17237
2  (02) Arizona                   2  39184
3  (03) Arkansas                  1  24905
4  (04) California                1 117232
5  (05) Colorado                  3  64011
6  (06) Connecticut               3  41220
7  (07) Delaware                  1   5376
8  (08) District of Columbia      1    251
9  (09) Florida                   0      0
10 (10) Georgia                   0      0
11 (11) Idaho                     5  50515
12 (12) Illinois                  1   1289
13 (13) Indiana                   0      0
14 (14) Iowa                      1  20390
15 (15) Kansas                    2  36212
16 (16) Kentucky                  2  69220
17 (17) Louisiana                 1  25026
18 (18) Maine                     1  14377
19 (19) Maryland                  0      0
20 (20) Massachusetts             1  26378
21 (21) Michigan                  1  47643
22 (22) Minnesota                 0      0
23 (23) Mississippi               1  11528
24 (24) Missouri                  1  39482
25 (25) Montana                   1   7468
26 (26) Nebraska                  3  37818
27 (27) Nevada                    1   9367
28 (28) New Hampshire             4  56624
29 (29) New Jersey                0      0
30 (30) New Mexico                3  27570
31 (31) New York                  0      0
32 (32) North Carolina            1  35569
33 (33) North Dakota              1   7591
34 (34) Ohio                      6 277164
35 (35) Oklahoma                  1  26349
36 (36) Oregon                    2  41496
37 (37) Pennsylvania              0      0
38 (38) Rhode Island              1   5896
39 (39) South Carolina            1  31299
40 (40) South Dakota              1   7634
41 (41) Tennessee                 3 137328
42 (42) Texas                     1  98576
43 (43) Utah                      1  16515
44 (44) Vermont                   1   5239
45 (45) Virginia                  1  38624
46 (46) Washington                1  25196
47 (47) West Virginia             1  12967
48 (48) Wisconsin                 1  43383
49 (49) Wyoming                   2  13610
50 (50) Alaska                    0      0
51 (51) Hawaii                    1    855
52 (52) Canal Zone               NA     NA
53 (53) Puerto Rico              NA     NA
54 (54) American Samoa           NA     NA
55 (55) Guam                     NA     NA
56 (62) Virgin Islands           NA     NA
57 (69) Northern Mariana Islands NA     NA
58 (98) Federal                   1    276
59 (99) Other                    NA     NA

In [52]:
da.state

        STATE        YEAR AW AB AI AA JW JB JI JA AH AN JH JN
1       (50) Alaska  2019 0   0  0  0 0  0  0  0  NA NA NA NA
2       (50) Alaska  2019 0   0  0  1 0  0  0  0  NA NA NA NA
3       (50) Alaska  2019 0   0  1  0 0  0  0  0  NA NA NA NA
4       (50) Alaska  2019 0   4  6  2 0  0  0  0  NA NA NA NA
5       (50) Alaska  2019 0  13 36  4 1  0  5  0  NA NA NA NA
6       (50) Alaska  2019 0   1  5  1 0  0  2  0  NA NA NA NA
7       (50) Alaska  2019 0  11 33  1 1  2  2  0  NA NA NA NA
8       (50) Alaska  2019 0   5  6  2 0  0  0  1  NA NA NA NA
9       (50) Alaska  2019 0  24 55 13 8  4  6  0  NA NA NA NA
10      (50) Alaska  2019 0   0  1  0 0  0  0  0  NA NA NA NA
11      (50) Alaska  2019 0   1  0  0 0  0  0  0  NA NA NA NA
12      (50) Alaska  2019 0   2  1  0 0  0  0  0  NA NA NA NA
13      (50) Alaska  2019 0   3  0  1 0  0  0  0  NA NA NA NA
14      (50) Alaska  2019 0   1  2  1 0  0  0  0  NA NA NA NA
15      (50) Alaska  2019 0   3 21  6 2  0  0  0  NA NA NA NA
16      (50) Alaska  2019 0   0  1  2 0  1  0  0  NA NA NA NA
17      (50) Alaska  2019 0   0  0  0 0  0  0  0  NA NA NA NA
18      (50) Alaska  2019 0   0  0  0 0  0  0  0  NA NA NA NA
19      (50) Alaska  2019 0   0  0  0 0  0  0  0  NA NA NA NA
20      (50) Alaska  2019 0   0  0  0 0  0  0  0  NA NA NA NA
21      (50) Alaska  2019 0   0  5  1 1  0  0  0  NA NA NA NA
22      (50) Alaska  2019 0   7  3  4 2  2  3  1  NA NA NA NA
23      (50) Alaska  2019 0   1  0  0 0  0  0  0  NA NA NA NA
24      (50) Alaska  2019 0   1  0  0 0  0  0  0  NA NA NA NA
25      (50) Alaska  2019 0   0  0  0 0  0  0  0  NA NA NA NA
26      (50) Alaska  2019 0   0  0  0 0  0  0  0  NA NA NA NA
27      (50) Alaska  2019 0   0  0  0 0  0  0  0  NA NA NA NA
28      (50) Alaska  2019 0   6  3  4 2  2  3  1  NA NA NA NA
29      (50) Alaska  2019 0   3  0  1 0  0  0  0  NA NA NA NA
30      (50) Alaska  2019 0   1  0  0 2  2  3  1  NA NA NA NA
⋮       ⋮            ⋮    ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮
1355996 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1355997 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1355998 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1355999 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356000 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356001 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356002 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356003 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356004 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356005 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356006 (49) Wyoming 2019  2  0  0  0  1  0  0  0 NA NA NA NA
1356007 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356008 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356009 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356010 (49) Wyoming 2019  2  0  0  0  1  0  0  0 NA NA NA NA
1356011 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356012 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356013 (49) Wyoming 2019  2  0  0  0  3  0  0  0 NA NA NA NA
1356014 (49) Wyoming 2019  2  0  0  0  1  0  0  0 NA NA NA NA
1356015 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356016 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356017 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356018 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356019 (49) Wyoming 2019  2  0  1  0  0  0  0  0 NA NA NA NA
1356020 (49) Wyoming 2019  2  0  0  0  0  0  0  0 NA NA NA NA
1356021 (49) Wyoming 2019  2 NA NA NA NA NA NA NA NA NA NA NA
1356022 (99) Other   2019 NA NA NA NA NA NA NA NA NA NA NA NA
1356023 (49) Wyoming 2019  2 NA NA NA NA NA NA NA NA NA NA NA
1356024 (49) Wyoming 2019  2 NA NA NA NA NA NA NA NA NA NA NA
1356025 (49) Wyoming 2019  2 NA NA NA NA NA NA NA NA NA NA NA